.page-container {
    height: 100vh;
    .main-container {
        width: 100%;
        vertical-align: top;
        margin: 0;
        background-color: #F4F4F4;
        .important-checked {
            color: #3D78D7;
        }
    }
}